<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="./css/stylesheet.css" />
</head>
<body>

<a href="injera.html"><img class="myfoods" src="./images/injera.jpeg" /></a>
<a href="golabjuman.html"><img class="myfoods" src="./images/golabjuman.jpeg" /></a>
<a href="corquemadame.html"><img class="myfoods" src="./images/corquemadame.jpeg" /></a>
<a href="jerkchicken.html"><img class="myfoods" src="./images/jerkchicken.jpeg" /></a>
<a href="pumpkinspicenoodles.html"><img class="myfoods" src="./images/pumpkinspicenoodles.jpeg" /></a>
</body>
</html>