<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body  style="background-color:powderblue;">
<img src="./images/ethioflag.jpeg" alt="ethiopian flag"/>

<h1 style="text-align:center;">Injera</h1>

Ethiopia

<h2>Ingredients</h2><img src="./images/injera.jpeg" alt="ethiopian flag"/>

<ul>
    <li> <sup>3</sup>/<sub>4</sub> cup teff flour (found in health food shops)</li>

    <li>3½ cups water</li>

    <li>pinch of salt</li>
</ul>
<h2 >Directions</h2>

<p>Standing time 2 days</p>

<p>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.

The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.
</p>
<p style="font-size: X-large;">Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.

Do not let it brown, and make sure that it is not too thick.
</p>
</body>
</html>